# iterations in python 
1.iterations means loops to work with repeatative task or repeatative performances
2. python have 2 types of iterators
3.`for`loop
4.`while`loop


```python - for loop 
for iter_variable in sequence:
    print("for is keyword to start the for loop")
    print("iter_variable is one type of variable to iterate data from sequence")
    print("in is keyword to validate sequence is present or not")
    print("sequence is collection like range,list,string,tuple,...etc")
```

```python - while loop 
while(condition):
    print("while is keyword to start the iteration based on condition")
    print("condition is true then executed inside statements")
```

In [1]:
#write a program to print 1 to 50 number using for loop
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
#write a program to iterate name using for loop
name="shivaji"
for char in name:
    print(char)

s
h
i
v
a
j
i

In [3]:
#write a program to find the even numbers in between 100 to 150 using for loop?
for n in range(100,151):
    if (n%2==0):
        print(n,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,

In [4]:
#write a program to find the odd numbers in between 100 to 151 using for loop?
for n in range(100,151):
    if(n%2==1):
        print(n,end=",")

101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,

In [9]:
#write a program to find the vowels from string using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if (char in "aeiouAEIOU"):
        print(char)

please enter your name here: mohan

o
a

In [14]:
#write a program to read name from list using for loop
name=["vikas","shivaji",'aditya','chandra']
for n in name:
    print("my name is",n)

my name is vikas
my name is shivaji
my name is aditya
my name is chandra

In [ ]:
#1.write a program  to find the sum of all numbers in between 1 to 100 using for loop
#2.